include family_tree/application.pug
nav.navbar.navbar-default.navbar-expand-lg.navbar-light.bg-light.border-dark.shadow.pl-50.pr-50.pt-0.pb-0(role="navigation")
    ul.menu.cf
        li
            div Меню
            ul.submenu
                li
                    #create_tree Построить "дерево"
                li
                    #exit Выход
        li
            div Человек
            ul.submenu
                li
                    .person.add Добавить
                li
                    .person.update Редактировать
        li
            div Город
            ul.submenu
                li
                    .sity.get Список

        .registration(style='float:left; margin-left: 25px; margin-top: 10px')
            input#registration_login(type="text", size="10", style='float:left')
            input#registration_password(type="password", size="10", style='float:left')
            .registration_name(style='color: black; float:left')=''
            button.btn-ttronix1#registration_in(type="button", data-dismiss="modal", aria-label='code', title="Войти")
                span="Войти"

        div(style='margin-top: 10%')
            h2(style='color: black')='Список людей в базе данных'
        div
            table.table.table-bordered.cell-border(data-height="100px", style='color: black')
                thead
                    tr
                        th="Фамилия"
                        th="Имя"
                        th="Отчество"
                        th="Пол"
                        th="Место рождения"
                        th="Дата рождения"
                        th="Доп. информация"
                tbody#table_all_person_in_base
                    td


    div.modal#Person_modal(role="dialog")
        div.modal-dialog.modal-lg(role="document")
            div.modal-content
                div.modal-header
                   h5.name='Человек'
                   button.modal_close_window(type="button", data-dismiss="modal", aria-label="Close")
                       span(aria-hidden="true")&times;
                div.modal-body
                    .card-body.condition.search_people_area(style="padding: 0px")
                        .input-group.mb-2
                            .input-group-prepend
                                select.marker_type_change#find_peoples(style="width: 150px")
                                button.btn-ttronix1#find_peoples_button(type="button", data-dismiss="modal", aria-label='code', title="Search")
                                    span="Поиск"
                    .card-body.condition(style="padding: 0px")
                        .input-group.mb-2
                            .input-group-prepend
                                span.input-group-text='Фамилия'
                            input.person_family(type="text", size="25")
                        .input-group.mb-2
                            .input-group-prepend
                                span.input-group-text='Имя'
                            input.person_name(type="text", size="25")
                        .input-group.mb-2
                            .input-group-prepend
                                span.input-group-text='Отчество'
                            input.person_midlename(type="text", size="25")
                        .input-group.mb-2
                            .input-group-prepend
                                span.input-group-text='Пол'
                            select#person_gender
                                option(value="M")="муж"
                                option(value="F")="жен"
                        .input-group.mb-2
                            .input-group-prepend
                                span.input-group-text='Место рождения. Страна'
                                    select.marker_type_change#birthplace_country_select(style="width: 150px")
                                    span='Город'
                                    select.marker_type_change#birthplace_sity_select(style="width: 150px")
                        .input-group.mb-2
                            .input-group-prepend
                                span.input-group-text='Отец: '
                            select#person_father_select
                        .input-group.mb-2
                            .input-group-prepend
                                span.input-group-text='Мать: '
                            select#person_mother_select
                        .input-group.mb-2
                            .input-group-prepend
                                span.input-group-text='Супруг/ Супруга: '
                            select#person_current_spouse_select
                    p
                    button.btn-ttronix1#person_ok_window(type="button", data-dismiss="modal", aria-label='code', title="OK")
                        span=" OK "
                    button.btn-ttronix1#person_delete_window.search_people_area(type="button", data-dismiss="modal", aria-label='code', title="Delete")
                        span="Удалить"

    div.modal#Position_modal(role="dialog")
        div.modal-dialog.modal-lg(role="document")
            div.modal-content
                div.modal-header
                   h5.name='Расположение'
                   button.modal_close_window(type="button", data-dismiss="modal", aria-label="Close")
                       span(aria-hidden="true")&times;
                div.modal-body
                    .card-body.condition.search_people_area(style="padding: 0px")
                        .input-group.mb-2
                            .input-group-prepend
                                table.table.table-bordered.cell-border(data-toggle="table" data-height="200" data-width="400px")
                                    thead
                                        tr
                                            th="Страна"
                                            th="Город"
                                            th="Число"
                                    tbody#Position_modal_table
                                        td